@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, button, textarea, select {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  font-weight: 800;
  line-height: 1.3;
}