@use '../abstracts/' as *;

$color-bg: $color-bg-white;
$color-navlink: $color-navlink-whitebg;
$color-burger: $color-gray-800;
$color-heading: $color-heading-whitebg;
$color-paragraph: $color-paragraph-whitebg;
$color-switch-bg: $color-gray-600;
$color-bg-dlbtn: $color-bg-dlbtn-whitebg;
$color-chevronbg: $color-chevronbg-whitebg;
$color-chevronarrow: $color-chevronarrow-whitebg;
$color-brandlogo-border: $color-brandlogo-border-whitebg;
$color-feature-cards-img-bg: $color-feature-cards-img-bg-bgwhite;
$color-how-bg: $color-how-bg-white;
$color-reviewsbg: $color-reviewsbg-whitebg;
$color-reviewbg: $color-reviewbg-whitebg;
$color-reviewrole: $color-reviewrole-whitebg;
$color-faqbg: $color-faqbg-whitebg;
$color-faqoutline: $color-faqoutline-whitebg;
$color-faqchevronbg: $color-faqchevronbg-whitebg;
$color-faqchevronarrow: $color-faqchevronarrow-whitebg;
$color-subscribebg: $color-subscribebg-whitebg;
$color-subscribetext: $color-paragraph-whitebg;