@use '../abstracts/' as *;

:root {
  --transition-default: all .25s;
  --transition-theme: all .5s ease;

  /* Default theme - white/light */
  --color-bg: var(--color-bg-white);
  --color-navlink: var(--color-navlink-whitebg);
  --color-burger: var(--color-gray-800);
  --color-heading: var(--color-heading-whitebg);
  --color-paragraph: var(--color-paragraph-whitebg);
  --color-switch-bg: var(--color-gray-600);
  --color-bg-dlbtn: var(--color-bg-dlbtn-whitebg);
  --color-chevronbg: var(--color-chevronbg-whitebg);
  --color-chevronarrow: var(--color-chevronarrow-whitebg);
  --color-brandlogo-border: var(--color-brandlogo-border-whitebg);
  --color-feature-cards-img-bg: var(--color-feature-cards-img-bg-bgwhite);
  --color-how-bg: var(--color-how-bg-white);
  --color-reviewsbg: var(--color-reviewsbg-whitebg);
  --color-reviewbg: var(--color-reviewbg-whitebg);
  --color-reviewrole: var(--color-reviewrole-whitebg);
  --color-faqbg: var(--color-faqbg-whitebg);
  --color-faqoutline: var(--color-faqoutline-whitebg);
  --color-faqchevronbg: var(--color-faqchevronbg-whitebg);
  --color-faqchevronarrow: var(--color-faqchevronarrow-whitebg);
  --color-subscribebg: var(--color-subscribebg-whitebg);
  --color-subscribetext: var(--color-paragraph-whitebg);
}

/* Darkmode toggle-switch stuff */
/* In preferred-color-scheme light, hide darkbg label & box */
#label-darkmode-switch-lightbg {display: flex;}
#label-darkmode-switch-darkbg {display: none;}
#darkmode-switch-whitebg {display: block;}
#darkmode-switch-darkbg {display: none;}