@use '../typovars' as *;

@mixin text {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(fw-reg);
  font-style: normal;
  font-size: var(fs-body-m);
}

@mixin heading {
  font-weight: var(--fw-extra);
  line-height: 1.3;
}