@mixin btn {
  border-radius: 8px;
  border: none;
  padding: 11px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-default);

  span {
    color: white;
  }
  
  &:hover {
    background-color: var(--color-gray-600);
    color: var(--color-white);
    text-decoration: none;
  }
}