:root {
  // Font sizes
  --fs-d1: 5rem;
  --fs-d2: 4.5rem;
  --fs-d3: 4rem;
  --fs-d4: 3.5rem;
  --fs-d5: 3rem;
  --fs-d6: 2.625rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.75rem;
  --fs-h4: 1.5rem;
  --fs-h5: 1.25rem;
  --fs-h6: 1rem;
  --fs-body-l: 1.125rem;
  --fs-body-m: 1rem;
  --fs-body-s: .875rem;
  
  --fs-hero-headline-mobile: 2.125rem;
  --fs-hero-headline-tablet: 2.75rem;
  --fs-hero-headline-desktop: var(--fs-d4);
  
  // Font weights
  --fw-extra: 800;
  --fw-bold: 700;
  --fw-semi: 600;
  --fw-reg: 400;
}