@use '../abstracts/' as *;

.footer {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--fs-body-s);
  line-height: 1.6;

  @include desktop {
    padding: 3rem 0;
  }

  span {
    color: var(--color-gray-600);
  }

  .footer-splitter {
    @include tablet {
      display: none;
    }
  }
}