.footer {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--fs-body-s);
  line-height: 1.6;

  span {
    color: var(--color-gray-600);
  }
}