@use '../abstracts/' as *;

section#hero {
  /* Add padding to give room for navbar */
  padding-top: 4rem;
  background: rgb(99,102,241);
  background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "hero-headline"
  "hero-content";

  /* Hide in mobile */
  .paragraph-splitter, .hero-images {
    display: none;
  }
  .headline {
    grid-area: hero-headline;
    text-align: center;
    font-size: $fs-hero-headline-mobile;
    margin-top: 1.5rem;    
  }
  .content {
    grid-area: hero-content;
    text-align: center;
    margin-top: 2rem;
  }
  .pitch {
    font-size: var(--fs-body-l);
    line-height: 1.6;
  }
  .dlbuttons {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }

  .discover-more-container {
    display: flex;
    justify-content: center;
  }

  .discover-more {
    display: flex;
    align-items: center;
    font-size: var(--fs-body-s);
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .chevron-discovermore {
    background-color: var(--color-chevronbg);
    color: var(--color-chevronarrow);
    width: 44px;
    height: 44px;
    font-size: .75rem;
  }

  .hero-images {
    grid-area: hero-images;
    align-self: end;
    justify-self: right;
    position: relative;

    .hero-img-shadow {
      position: absolute;
      bottom: 0;
      right: 200px;
      z-index: 5;
    }
    .hero-img-back {
      position: absolute;
      bottom: 0;
      right: 142px;
      z-index: 10;
    }
    .hero-img-front {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 15;
    }
  }
}