@use '../abstracts/' as *;

section#hero {
  /* Add padding to give room for navbar */
  padding-top: 4rem;
  background: rgb(99,102,241);
  background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "hero-headline"
  "hero-content";

  @include tablet {
    grid-template-columns: 2fr 3fr;
    grid-template-areas:  "hero-headline hero-headline"
                          "hero-content hero-images";
    gap: 2rem 0rem;
  }
  @include desktop {
    align-items: start;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "hero-headline hero-images"
                          "hero-content hero-images";
    gap: 0rem;
  }

  /* Hide in mobile */
  .paragraph-splitter, .hero-images {
    display: none;
  }
  .headline {
    grid-area: hero-headline;
    text-align: center;
    font-size: var(--fs-hero-headline-mobile);
    margin-top: 1.5rem;

    @include tablet {
      font-size: var(--fs-hero-headline-tablet);
      margin-top: 4.5rem;
    }
    @include desktop {
      font-size: var(--fs-hero-headline-desktop);
      margin-top: 9rem;
      text-align: left;
    }
  }

  .content {
    grid-area: hero-content;
    text-align: center;
    margin-top: 2rem;

    @include tablet {
      text-align: left;
    }
    @include desktop {
      margin-top: 0;
    }
  }

  .pitch {
    font-size: var(--fs-body-l);
    line-height: 1.6;

    .paragraph-splitter {
      @include tablet {
        display: block;
      }
    }
  }

  .dlbuttons {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;

    @include tablet {
      margin-top: 3rem;
    }
    @include desktop {
      flex-direction: row;
    }
  }

  .discover-more-container {
    display: flex;
    justify-content: center;

    @include tablet {
      justify-content: left;
    }
  }

  .discover-more {
    display: flex;
    align-items: center;
    font-size: var(--fs-body-s);
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    gap: 1rem;

    @include desktop {
      margin-top: 15rem;
    }
  }

  .chevron-discovermore {
    background-color: var(--color-chevronbg);
    color: var(--color-chevronarrow);
    width: 44px;
    height: 44px;
    font-size: .75rem;
  }

  .hero-images {
    grid-area: hero-images;
    align-self: end;
    justify-self: right;
    position: relative;

    @include tablet {
      display: block;
      .desktop {
        display: none;
      }
    }
    @include desktop {
      .tablet {
        display: none;
      }
      .desktop {
        display: block;
      }
    }

    .hero-img-shadow {
      position: absolute;
      bottom: 0;
      right: 200px;
      z-index: 5;

      @include desktop {
        bottom: 0;
        right: 425px;
      }
    }

    .hero-img-back {
      position: absolute;
      bottom: 0;
      right: 142px;
      z-index: 10;

      @include desktop {
        bottom: 0;
        right: 235px;
      }
    }
    
    .hero-img-front {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 15;

      @include desktop {
        right: 0;
        bottom: 0;
      }
    }
  }
}