@use '../abstracts/' as *;

section#reviews {
  display: none;
  background-color: var(--color-reviewsbg);

  @include desktop {
    display: block;
  }
}

.reviews-container {
  padding: 6rem 1.5rem 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 1.5rem;

  h2 {
    font-size: var(--fs-h1); /* 40px in figma */
    font-weight: var(--fw-extra);
    line-height: 1.3;
  }
}