.wrapper {
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding-inline: .75rem;

  @media (576px <= width) {
    max-width: 540px;
  }
  @media (768px <= width) {
    max-width: 720px;
    padding-inline: 1rem;
  }
  @media (992px <= width) {
    max-width: 960px;
    padding-inline: 2rem;
  }
  @media (1200px <= width) {
    max-width: 1140px;
    padding-inline: 4rem;
  }
  @media (1400px <= width) {
    max-width: 1320px;
    padding-inline: 0;
  }
}

.themewrapper {
  background-color: var(--color-bg);
  transition: var(--transition-theme);
}