@use '../abstracts/' as *;

.btn-primary {
  @include btn;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-signin {
  @extend .btn-primary;
  width: 140px;
  height: 36px;
  font-size: var(--fs-body-s);
  font-weight: var(--fw-semi);
  padding: 0px;
  border-radius: 4px;
  
  .usericon {
    margin-right: 0.5rem;
  }
}

.btn-learn-more {
  @extend .btn-primary;
  width: 160px;
  border-radius: 6px;
  margin-top: 3rem;
  font-size: var(--fs-body-s);
  font-weight: var(--fw-semi);
  line-height: 1.6;
  i {
    margin-left: 1rem;
  }
}

.btn-dl {
  /* Give buttons a higher z-index to make sure they aren't covered
  ** by overflow from position: absolute images */
  z-index: 50;
  background-color: var(--color-bg-dlbtn);
  border-radius: 8px;
  padding: 8px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-default);
  
  &:hover {
    background-color: var(--color-gray-600);
    color: var(--color-white);
    text-decoration: none;
  }
}

.btn-chevron {
  @include btn-chevron;
}

.chevron-discovermore {
  @extend .btn-chevron;
  background-color: var(--color-chevronbg);
  color: var(--color-chevronarrow);
  width: 44px;
  height: 44px;
  font-size: .75rem;
}