@use '../abstracts/' as *;

a {
  color: var(--color-primary);
  text-decoration: none;
  
  &:hover {
    @include hover {
      color: var(--color-primary);
    }
  }
}

.navbar-link {
  color: var(--color-navlink);
  font-weight: var(--fw-semi);
  opacity: var(--navlink-opacity);
  transition: var(--transition-default);
  
  &:hover {
    @include hover {
      color: var(--color-primary);
      text-decoration: none;
    }
  }
}