@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  /* Project colors and formatting */
  --color-primary: hsl(239, 84%, 67%);    /* #6366F1 */
  --color-white: hsl(0, 0%, 100%);        /* #FFFFFF */
  --color-gray-100: hsl(225, 100%, 98%);  /* #F3F6FF */
  --color-gray-200: hsl(226, 68%, 96%);   /* #EFF2FC */
  --color-gray-300: hsl(228, 35%, 92%);   /* #E2E5F1 */
  --color-gray-400: hsl(229, 25%, 86%);   /* #D4D7E5 */
  --color-gray-500: hsl(231, 16%, 75%);   /* #B4B7C9 */
  --color-gray-600: hsl(231, 14%, 63%);   /* #9397AD */
  --color-gray-700: hsl(234, 14%, 39%);   /* #565973 */
  --color-gray-800: hsl(235, 20%, 25%);   /* #33354d */
  --color-gray-900: hsl(223, 39%, 7%);    /* #0B0F19 */

  --color-bg-white: var(--color-white);
  --color-bg-dark: var(--color-gray-900);
  --color-paragraph-whitebg: var(--color-gray-700);
  --color-paragraph-darkbg: var(--color-gray-500);
  --color-heading-darkbg: var(--color-white);
  --color-heading-whitebg: var(--color-gray-900);
  --color-navlink-whitebg: var(--color-gray-800);
  --color-navlink-darkbg: hsl(from var(--color-white) h s calc(l - 15));
  --color-bg-btnstore-whitebg: var(--color-gray-900);
  --color-bg-btnstore-darkbg: var(--color-gray-200);

  /* Default theme - white/light */
  --color-bg: var(--color-bg-white);
  --color-navlink: var(--color-navlink-whitebg);
  --color-burger: var(--color-gray-800);
  --color-heading: var(--color-heading-whitebg);
  --color-paragraph: var(--color-paragraph-whitebg);
  --color-switch-bg: var(--color-gray-600);
  --color-bg-btnstore: var(--color-bg-btnstore-whitebg);  

  /* Transitions */
  --transition-default: all .25s;
  --transition-theme: all .5s ease;

  /* Font sizes */
  --fs-d1: 80px;
  --fs-d2: 72px;
  --fs-d3: 64px;
  --fs-d4: 56px;
  --fs-d5: 48px;
  --fs-d6: 42px;
  --fs-h1: 40px;
  --fs-h2: 32px;
  --fs-h3: 28px;
  --fs-h4: 24px;
  --fs-h5: 20px;
  --fs-h6: 16px;
  --fs-body-l: 18px;
  --fs-body-m: 16px;
  --fs-body-s: 14px;

  /* Font weights */
  --fw-extra: 800;
  --fw-semi: 600;
  --fw-reg: 400;

  /* Padding, margins */
  --wrapper-pi: .75rem;
  --header-pt: .75rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-reg);
  font-style: normal;
  font-size: var(--fs-body-m);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  
  &:hover {
    color: var(--color-primary);
  }
}


          /* Utility classes start */
.wrapper {
  max-width: 1320px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding-inline: var(--wrapper-pi);
}

.flex {
  display: flex;
  align-items: center;
}
          /* Utility classes end */


          /* Darkmode start */
/* Disable to show hidden checkboxes used for darkmode syncing. */
.dm-chbox-hidden {
  display: none;
}



.themeswap {
  background-color: var(--color-bg);
  transition: var(--transition-theme);
}
          /* Darkmode end */

          /* Header start */

.header-div {
  justify-content: space-between;
  padding-top: var(--header-pt);

  #header-nav {
    margin-left: 3rem;
  }
  .btn-signin {
    margin-left: 2rem;
  }
  .btn-burger {
    margin-left: 2rem;
    margin-right: .5rem;
  }
  /* Mobile first */
  #header-nav, .btn-signin {
    display: none;
  }
}

#header-nav {
  .nav-link {
    color: var(--color-navlink);
    font-size: 16px;
    font-weight: 600;
    opacity: var(--navlink-opacity);
    transition: var(--transition-default);
    
    &:hover {
      color: var(--color-primary);
      text-decoration: none;
    }
  }
}

/* Darkmode toggle-switch stuff */
/* In preferred-color-scheme light, hide label-darkmode-switch-darkbg */
#label-darkmode-switch-darkbg {display: none;}

.toggle-switch {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 24px;

  .dmswitchbg {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border-radius: 46px;
    background-color: var(--color-switch-bg);
    transition: var(--transition-theme);
  }    
  .dmswitchbg::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: var(--transition-theme);
  }
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 6px;
  padding: 11px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-default);
  
  &:hover {
    background-color: var(--color-gray-600);
    color: var(--color-white);
    text-decoration: none;
  }
}

.btn-signin {
  width: 140px;
  height: 36px;
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
  border-radius: 4px;
  
  .usericon {
    margin-right: 0.5rem;
  }
}

/* Hamburger/mobile menu */
.btn-burger {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--color-burger);
}

          /* Header end */

          /* Showcase start */






          /* Media queries start */

/* Darkmode media queries */
@media (prefers-color-scheme: light) {
  #darkmode-switch-whitebg:checked ~ .themeswap {
    --color-bg: var(--color-bg-dark);
    --color-navlink: var(--color-navlink-darkbg);
    --color-burger: var(--color-white);
    --color-heading: var(--color-heading-darkbg);
    --color-paragraph: var(--color-paragraph-darkbg);
    --color-bg-btnstore: var(--color-bg-btnstore-darkbg);
    /* Change themeswitch-bg to active color */
    --color-switch-bg: var(--color-primary);
    /* Swap to light-texted logo */
    .logo-img {
      content: url('/assets/logo-bgdark.svg');
    }

    /* Set darkmode switch to active position */
    .dmswitchbg::before {
      transform: translateX(20px);
    }
  }
}

/* Auto-enable darkmode if user has prefers-color-scheme: dark */
@media (prefers-color-scheme: dark) {
  #darkmode-switch-darkbg:checked ~ .themeswap {
    --color-bg: var(--color-bg-dark);
    --color-navlink: var(--color-navlink-darkbg);
    --color-burger: var(--color-white);
    --color-heading: var(--color-heading-darkbg);
    --color-paragraph: var(--color-paragraph-darkbg);
    --color-bg-btnstore: var(--color-bg-btnstore-darkbg);
    /* Change themeswitch-bg to active color */
    --color-switch-bg: var(--color-primary);

    /* Swap to light-texted logo */
    .logo-img {
      content: url('/assets/logo-bgdark.svg');
    }
    /* Set darkmode switch to active position */
    .dmswitchbg::before {
      transform: translateX(20px);
    }
  }
  /* In preferred scheme dark, display pre-checked darkbg checkbox
  and hide unchecked whitebg checkbox */
  #label-darkmode-switch-darkbg {display: inline-block;}
  #label-darkmode-switch-whitebg {display: none;}
}

          /* Media queries end */