@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  /* Project colors and formatting */
  --color-primary: hsl(239, 84%, 67%);    /* #6366F1 */
  --color-white: hsl(0, 0%, 100%);        /* #FFFFFF */
  --color-gray-100: hsl(225, 100%, 98%);  /* #F3F6FF */
  --color-gray-200: hsl(226, 68%, 96%);   /* #EFF2FC */
  --color-gray-300: hsl(228, 35%, 92%);   /* #E2E5F1 */
  --color-gray-400: hsl(229, 25%, 86%);   /* #D4D7E5 */
  --color-gray-500: hsl(231, 16%, 75%);   /* #B4B7C9 */
  --color-gray-600: hsl(231, 14%, 63%);   /* #9397AD */
  --color-gray-700: hsl(234, 14%, 39%);   /* #565973 */
  --color-gray-800: hsl(235, 20%, 25%);   /* #33354d */
  --color-gray-900: hsl(223, 39%, 7%);    /* #0B0F19 */

  --color-bg-white: var(--color-white);
  --color-bg-dark: var(--color-gray-900);
  --color-paragraph-whitebg: var(--color-gray-700);
  --color-paragraph-darkbg: var(--color-gray-500);
  --color-heading-darkbg: var(--color-white);
  --color-heading-whitebg: var(--color-gray-900);
  --color-navlink-whitebg: var(--color-gray-800);
  --color-navlink-darkbg: hsl(from var(--color-white) h s calc(l - 15));
  --color-bg-dlbtn-whitebg: var(--color-gray-900);
  --color-bg-dlbtn-darkbg: var(--color-gray-200);
  --color-chevronbg-whitebg: var(--color-white);
  --color-chevronbg-darkbg: #222032;
  --color-chevronarrow-whitebg: var(--color-gray-800);
  --color-chevronarrow-darkbg: var(--color-white);

  --color-brandlogo-border-whitebg: var(--color-gray-300);
  --color-brandlogo-border-darkbg: hsl(0, 0%, 85%);
  --color-brandlogo-bg-darkbg-tablet: #131022;
  --color-features-body: hsl(0, 0%, 30%);
  --color-feature-cards-img-bg-bgwhite: var(--color-gray-100);
  --color-feature-cards-img-bg-bgdark: #171B25;

  --color-how-bg-white: var(--color-gray-100);
  --color-how-bg-dark: #1c2029; /* Doesn't match any of grayscale colors? */

  --color-faqchevronbg-whitebg: var(--color-gray-100);
  --color-faqchevronbg-darkbg: #1E212B;
  --color-faqchevronarrow-whitebg: var(--color-gray-800);
  --color-faqchevronarrow-darkbg: var(--color-white);

  /* Default theme - white/light */
  --color-bg: var(--color-bg-white);
  --color-navlink: var(--color-navlink-whitebg);
  --color-burger: var(--color-gray-800);
  --color-heading: var(--color-heading-whitebg);
  --color-paragraph: var(--color-paragraph-whitebg);
  --color-switch-bg: var(--color-gray-600);
  --color-bg-dlbtn: var(--color-bg-dlbtn-whitebg);
  --color-chevronbg: var(--color-chevronbg-whitebg);
  --color-chevronarrow: var(--color-chevronarrow-whitebg);
  --color-feature-cards-img-bg: var(--color-feature-cards-img-bg-bgwhite);
  --color-how-bg: var(--color-how-bg-white);
  --color-faqchevronbg: var(--color-faqchevronbg-whitebg);
  --color-faqchevronarrow: var(--color-faqchevronarrow-whitebg);

  /* Transitions */
  --transition-default: all .25s;
  --transition-theme: all .5s ease;

  /* Font sizes */
  --fs-d1: 80px;
  --fs-d2: 72px;
  --fs-d3: 64px;
  --fs-d4: 56px;
  --fs-d5: 48px;
  --fs-d6: 42px;
  --fs-h1: 40px;
  --fs-h2: 32px;
  --fs-h3: 28px;
  --fs-h4: 24px;
  --fs-h5: 20px;
  --fs-h6: 16px;
  --fs-body-l: 18px;
  --fs-body-m: 16px;
  --fs-body-s: 14px;

  --fs-hero-headline-mobile: 34.1px;
  --fs-hero-headline-tablet: 44.3px;
  --fs-hero-headline-desktop: var(--fs-d4);

  /* Font weights */
  --fw-extra: 800;
  --fw-semi: 600;
  --fw-reg: 400;

  /* Padding, margins */
  --wrapper-pi: .75rem;
  --header-pt: .75rem;
}

          /* Set "default" formatting */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-reg);
  font-style: normal;
  font-size: var(--fs-body-m);
}

h1, h2, h3 {
  color: var(--color-heading);
  font-weight: var(--fw-extra);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  
  &:hover {
    color: var(--color-primary);
  }
}

          /* Reusable buttons etc */

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 8px;
  padding: 11px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-default);
  
  &:hover {
    background-color: var(--color-gray-600);
    color: var(--color-white);
    text-decoration: none;
  }
}

.btn-chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    display: block;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f078";
    text-align: center;
  }
}

          /* Utility classes start */
.wrapper {
  max-width: 1320px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding-inline: var(--wrapper-pi);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tac {
  text-align: center;
}
          /* Utility classes end */
          /* Darkmode start */
/* Disable to show hidden checkboxes used for darkmode syncing. */
.dm-chbox-hidden {
  display: none;
}

.themewrapper {
  background-color: var(--color-bg);
  transition: var(--transition-theme);
}

          /* Darkmode end */
          /* Header start */
.header-container {
  justify-content: space-between;
  padding-top: var(--header-pt);

  #header-nav {
    margin-left: 3rem;
  }
  .btn-signin {
    margin-left: 2rem;
  }
  .btn-burger {
    margin-left: 2rem;
    margin-right: .5rem;
  }
  /* Hide in mobile */
  #header-nav, .btn-signin {
    display: none;
  }
}

#header-nav {
  .nav-link {
    color: var(--color-navlink);
    font-size: 16px;
    font-weight: 600;
    opacity: var(--navlink-opacity);
    transition: var(--transition-default);
    
    &:hover {
      color: var(--color-primary);
      text-decoration: none;
    }
  }
}

/* Darkmode toggle-switch stuff */
/* In preferred-color-scheme light, hide label-darkmode-switch-darkbg */
#label-darkmode-switch-lightbg {display: flex;}
#label-darkmode-switch-darkbg {display: none;}

.dm-text {
  font-size: var(--fs-body-m);
  color: var(--color-gray-700);
  margin-right: 1rem;
  /* Hide on mobile */
  display: none;
}

.toggle-switch {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 24px;

  .dmswitchbg {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border-radius: 46px;
    background-color: var(--color-switch-bg);
    transition: var(--transition-theme);
  }    
  .dmswitchbg::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: var(--transition-theme);
  }
}

/* Sign-in button */
.btn-signin {
  width: 140px;
  height: 36px;
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
  border-radius: 4px;
  
  .usericon {
    margin-right: 0.5rem;
  }
}

/* Hamburger/mobile menu */
.btn-burger {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--color-burger);
}

          /* Header end */
          /* Hero start */
section#hero {
  background: rgb(99,102,241);
  background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "hero-headline"
  "hero-content";

  /* Hide in mobile */
  .paragraph-splitter, .hero-images {
    display: none;
  }
  .headline {
    grid-area: hero-headline;
    text-align: center;
    font-size: var(--fs-hero-headline-mobile);
    margin-top: 1.5rem;    
  }
  .content {
    grid-area: hero-content;
    text-align: center;
    margin-top: 2rem;
  }
  .pitch {
    color: var(--color-paragraph);
    font-size: var(--fs-body-l);
    line-height: 28.8px;
  }
  .dlbuttons {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }

  .btn-dl {
    /* Give buttons a higher z-index to make sure they aren't covered
    ** by overflow from position: absolute images */
    z-index: 50;
    background-color: var(--color-bg-dlbtn);
    border-radius: 8px;
    padding: 8px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-default);
    
    &:hover {
      background-color: var(--color-gray-600);
      color: var(--color-white);
      text-decoration: none;
    }
  }

  .discover-more {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-paragraph);
    font-size: 14px;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .chevron-discovermore {
    background-color: var(--color-chevronbg);
    color: var(--color-chevronarrow);
    width: 44px;
    height: 44px;
    font-size: 12px;
  }

  .hero-images {
    grid-area: hero-images;
    align-self: end;
    justify-self: right;
    position: relative;

    .hero-img-shadow {
      position: absolute;
      bottom: 0;
      right: 200px;
      z-index: 5;
    }
    .hero-img-back {
      position: absolute;
      bottom: 0;
      right: 142px;
      z-index: 10;
    }
    .hero-img-front {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 15;
    }
  }
}

          /* Hero end */
          /* Features start */

.features-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 3rem;

  h2, h3 {
    color: var(--color-heading);
    font-weight: var(--fw-extra);
  }

  .brandlogo-container {
    /* Hide on mobile */
    display: none;
    justify-content: space-between;
    align-content: center;
    margin-top: 3rem;

    .desktop-only {
      display: none;
    }
  }

  .brandlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-brandlogo-border-whitebg);
    border-radius: 8px;
    width: 160px;
    height: 100px;

    /* Add some space between image and border */
    .brandlogo-img {
      max-width: 85%;
    }
  }

  .headline, .paragraph {
    text-align: center;
  }

  .headline {
    margin-top: 2.5rem;
    font-size: 28px;
  }

  .paragraph {
    margin-top: 1rem;
    font-size: var(--fs-body-l);
    line-height: 28.8px;
    color: var(--color-paragraph);
  }

  /* Hide on mobile */
  .left-content {
    display: none;
    /* Set height equal to height of image,
    ** to prevent overflow due to position: absolute */
    height: 683px;
  }

  .right-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .feature-cards {
    margin-top: 2rem;
  }

  .card {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.25rem;

    .card-img-container {
      flex-shrink: 0; /*Prevent flex container from shrinking box below 60x60*/
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background-color: var(--color-feature-cards-img-bg);
      border-radius: 8px;
    }

    .cardtext {
      p {
        margin-top: 1rem;
        color: var(--color-paragraph);
      }
      h3 {
        font-size: 20px;
      }
    }
  }
}

          /* Features end */
          /* How-does-it-work start */

section#how {
  background-color: var(--color-how-bg);
}

.how-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  .tablet, .desktop {
    display: none;
  }

  h2 {
    font-size: 28px;
    line-height: 36.2px;
    margin-top: 4.5rem;
  }

  .images-container {
    display: flex;
    margin-top: 2.5rem;

    img {
      max-width: 100%;
    }
  }

  .image-description {
    h3 {
      display: inline-block;
      font-size: 22px;
      line-height: 30px;
      margin-top: 2.5rem;
      width: 85%;
    }
    p {
      color: var(--color-paragraph);
      font-size: var(--fs-body-m);
      margin-top: 1rem;
      margin-bottom: 4rem;
    }
  }
}

          /* How-does-it-work end */
          /* Payment start */

section#payment {
  display: none;
}

          /* Payment end */
          /* Reviews start */

section#reviews {
  display: none;
}

          /* Reviews end */
          /* FAQ-contact start */
section#faq-contact {

  .faq-contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  h2 {
    color: var(--color-heading);
    margin-top: 3rem;
    font-size: 25px;
    font-weight: var(--fw-extra);
  }

  p {
    margin-top: 1rem;
    font-size: var(--fs-body-l);
    line-height: 29px;
    color: var(--color-paragraph);

  }

  .faq-accordion {
    --_faq-border: 1px solid lightgray;
    margin-top: 3rem;
    border: var(--_faq-border);
    border-radius: 8px;

    details {
      border-bottom: var(--_faq-border);
      /* No border on last details-element to prevent double border*/
      &:last-child {
        border-bottom: unset;
      }
      &[open] {
        .answer {
          border-top: var(--_faq-border);
        }
      }
    }

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color-heading);
      font-size: var(--fs-body-m);
      font-weight: var(--fw-semi);
      line-height: 21px;
      padding: 1rem;

      /* Hide marker */
      list-style: none;
    }

    p {
      padding-inline: 1rem;
      font-size: var(--fs-body-s);
      line-height: 22px;
      &:last-child {
        padding-bottom: 1rem;
      }
    }

    .chevron-faq {
      background-color: var(--color-faqchevronbg);
      color: var(--color-faqchevronarrow);
      width: 36px;
      height: 36px;
      font-size: 10px;
      /* Set pointer-events none for click to pass through to summary element*/
      pointer-events: none;
      /* Prevent shrunk and skewed chevron buttons */
      flex-shrink: 0;
      /* Add margin to the left of the button equal to parent padding-right */
      margin-left: 1rem;
    }
  }

  .contact {
    margin: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-contact {
    border-style: none;
    border-radius: 6px;
    font-size: var(--fs-body-s);
    font-weight: var(--fw-semi);
    line-height: 22px;
    padding: 1em 2em;
  }
}
          /* FAQ-contact end */
          /* Subscribe start */
          
          /* Subscribe end */
          /* Footer start */

          /* Footer end */

          /* Media queries start */

@media (768px <= width) {
  /* Change margin & padding */
  :root {
    --wrapper-pi: 2rem;
    --header-pt: 1.5rem;
  }

  .dm-text {
    display: block;
  }

  /* Hero section */
  .hero-container {
    height: 618px;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:  "hero-headline hero-headline"
                          "hero-content hero-images";
    gap: 2.5rem;

    
    .headline {
      font-size: var(--fs-hero-headline-tablet);
    }
    .content {
      text-align: left;
    }
    .dlbuttons {
      margin-top: 3rem;
    }
    .discover-more {
      justify-content: left;
    }
    .paragraph-splitter, .hero-images {
      display: block;
    }
  }

    /* Features section */
  .features-container {
    margin-bottom: 4rem;
    .brandlogo-container {
      display: flex;
    }

    .feature-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      
      .card {
        margin-bottom: 0;
      }
    }
  }

  /* How does it work-section */
  .how-container {
    h2 {
      font-size: 34px;
      line-height: 43.6px;
    }

    .mobile, .desktop {
      display: none;
    }
    .tablet {
      display: block;
    }

    .images-container {
      /* Increase spacing between images as container grows in width */
      width: 100%;
      max-width: 900px;
      .mobile.img, .desktop.img {
        display: none;
      }
      .tablet.img {
        display: block;
        flex-shrink: 0;
        flex-grow: 1;
      }
      .img.left {
        text-align: right;
      }
      .img.right {
        text-align: left;
      }
    }

    .image-description {
      width: 65%;
      max-width: 550px;
      h3 {
        width: 100%;
        font-size: 23px;
        line-height: 32px;   
      }
      p {
        line-height: 26px;
      }
    }
  }
}

@media (1400px <= width) {
  /* Change margin & padding */
  :root {
    --wrapper-pi: 2rem;
    --header-pt: 1rem;
  }

  .btn-burger {
    display: none;
  }

  .header-container {
    #header-nav, .btn-signin {
      display: flex;
    }
  }

  /* Hero section */
  .hero-container {
    align-items: start;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "hero-headline hero-images"
                          "hero-content hero-images";
    gap: 0rem;

    .headline {
      font-size: var(--fs-hero-headline-desktop);
      margin-top: 9rem;
      text-align: left;
    }
    .content {
      margin-top: 0;
    }
    .dlbuttons {
      flex-direction: row;
    }
    .discover-more {
      margin-top: 15rem;
    }

    .hero-images {
      .hero-img-shadow {
        bottom: 0;
        right: 425px;
      }
      .hero-img-back {
        bottom: 0;
        right: 235px;
      }
      .hero-img-front {
        right: 0;
        bottom: 0;
      }
    }
    
    /* Replace images with desktop versions */
    .hero-img-shadow {
      content: url('/assets/images/desktop/hero-shadow.png');
    }
    .hero-img-back {
      content: url('/assets/images/desktop/hero-back.png');
    }
    .hero-img-front {
      content: url('/assets/images/desktop/hero-front.png');
    }
  }

  /* Features section */
  .features-container {
    .content-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-top: 7rem;
      margin-bottom: 7rem;
      gap: 8rem;

      .headline {
        margin-top: 0;
      }
      .feature-cards {
        gap: 3rem;
      }
    }


    .brandlogo-container {
      .desktop-only {
        display: flex;
      }
    }
    .left-content {
      display: block;
      position: relative;

      .phone-img {
        position: absolute;
      }
      .card-img {
        position: absolute;
        top: 90px;
        left: 25px;
      }
    }
  }

  /* How does it work-section */
  .how-container {
    h2 {
      font-size: var(--fs-h1);
      line-height: 130%;
    }

    .mobile, .tablet {
      display: none;
    }
    .desktop {
      display: block;
    }

    .images-container {
      /* Increase spacing between images as container grows in width */
      max-width: unset;
      .mobile.img, .tablet.img {
        display: none;
      }
      .desktop.img {
        display: block;
        flex-grow: 1;
      }
      .img.left, .img.right {
        text-align: center;
      }
    }

    .image-description {
      width: 65%;
      max-width: 550px;
      h3 {
        width: 100%;
        font-size: 23px;
        line-height: 32px;   
      }
      p {
        line-height: 26px;
      }
    }
  }
}


/* Darkmode media queries */
@media (prefers-color-scheme: light) {
  #darkmode-switch-whitebg:checked ~ .themewrapper {
    --color-bg: var(--color-bg-dark);
    --color-navlink: var(--color-navlink-darkbg);
    --color-burger: var(--color-white);
    --color-heading: var(--color-heading-darkbg);
    --color-paragraph: var(--color-paragraph-darkbg);
    --color-bg-dlbtn: var(--color-bg-dlbtn-darkbg);
    --color-chevronbg: var(--color-chevronbg-darkbg);
    --color-chevronarrow: var(--color-chevronarrow-darkbg);
    --color-feature-cards-img-bg: var(--color-feature-cards-img-bg-bgdark);
    --color-how-bg: var(--color-how-bg-dark);
    --color-faqchevronbg: var(--color-faqchevronbg-darkbg);
    --color-faqchevronarrow: var(--color-faqchevronarrow-darkbg);
    /* Change themeswitch-bg to active color */
    --color-switch-bg: var(--color-primary);
    /* Swap to light-texted logo */
    .logo-img {
      content: url('/assets/logo-bgdark.svg');
    }
    .hero-container .pitch {
      color: var(--color-white);
    }
    .chevron-dn-img {
      content: url('/assets/icons/chevron-dn-dark.svg');
    }
    .btn-apple-img {
      content: url('/assets/appstorebadges/appstore-dark.svg');
    }
    .btn-google-img {
      content: url('/assets/appstorebadges/googleplay-dark.svg');
    }
    /* Set darkmode switch to active position */
    .dmswitchbg::before {
      transform: translateX(20px);
    }
  }
}

/* Auto-enable darkmode if user has prefers-color-scheme: dark */
@media (prefers-color-scheme: dark) {
  #darkmode-switch-darkbg:checked ~ .themewrapper {
    --color-bg: var(--color-bg-dark);
    --color-navlink: var(--color-navlink-darkbg);
    --color-burger: var(--color-white);
    --color-heading: var(--color-heading-darkbg);
    --color-paragraph: var(--color-paragraph-darkbg);
    --color-bg-dlbtn: var(--color-bg-dlbtn-darkbg);
    --color-chevronbg: var(--color-chevronbg-darkbg);
    --color-chevronarrow: var(--color-chevronarrow-darkbg);
    --color-feature-cards-img-bg: var(--color-feature-cards-img-bg-bgdark);
    --color-how-bg: var(--color-how-bg-dark);
    --color-faqchevronbg: var(--color-faqchevronbg-darkbg);
    --color-faqchevronarrow: var(--color-faqchevronarrow-darkbg);
    /* Change themeswitch-bg to active color */
    --color-switch-bg: var(--color-primary);

    /* Swap to light-texted logo */
    .logo-img {
      content: url('/assets/logo-bgdark.svg');
    }
    .hero-container .pitch {
      color: var(--color-white);
    }
    .chevron-dn-img {
      content: url('/assets/icons/chevron-dn-dark.svg');
    }
    .btn-apple-img {
      content: url('/assets/appstorebadges/appstore-dark.svg');
    }
    .btn-google-img {
      content: url('/assets/appstorebadges/googleplay-dark.svg');
    }
    /* Set darkmode switch to active position */
    .dmswitchbg::before {
      transform: translateX(20px);
    }
  }
  /* In preferred scheme dark, display pre-checked darkbg checkbox
  and hide unchecked whitebg checkbox */
  #label-darkmode-switch-darkbg {display: flex;}
  #label-darkmode-switch-whitebg {display: none;}
}

          /* Media queries end */
